body{
    background: linear-gradient(135deg, #a82ead, #ff5858);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.Card{
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    width: 200px;
    padding: 10%;
    border-radius: 20px;
    text-align: center;
    transition:transform 0.3s ease;
    animation: float 4s ease-in-out infinite;

}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}

.Card p {
    line-height: 1.6;
    margin-top: 8px;
    color: #333;
    font-size: 18px;
}

.Card:hover {
    transform: translateY(-10px) scale(1.05);
}

.Card:active {
    transform: scale(0.97);
}

.profileImage{
    align-items: center;
    width: 90px;
    height: 90px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid rgb(249, 249, 249);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    display: block;
    max-width: none;
box-shadow:
        0 0 0 4px white,
        0 12px 25px rgba(0,0,0,0.25),
        inset 0 0 10px rgba(255,255,255,0.6);

}

.btn {
    padding: 10px 20px;
    background: #063970;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.2s ease;
}

button:hover {
    transform: scale(1.06);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
button:active {
    transform: scale(0.96);
}